* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    color: white;
}
img{
    display: block;
    max-width: 100%;
}
.container{

    max-height: 1000px;
    margin-top:-55px;
    padding: 33px;
}
.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    top: 28px;
    left: 56px;
}
 .header a {
     display: inline-block;
     background:#e50914;
     color:white;
     align-self: flex-start;
     padding: 8px 18px;
     text-decoration: none;
     border-radius: 3px;
 }
.main-child{
    z-index: 1;
    display: grid;
    justify-items: center;
}
main{
    padding: top 30rem;
    height: 680px;
    background: url('../Img/bg.jpg') center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}
main h1 {
    font-size: 50px;
    max-width: 700px;
    margin-top: 89px;
}
main span{
    font-size: 26px;
    margin-top: 20px;
}
.form-cta{
    display: grid;
    grid-template-columns: 450px 180px;
    margin-top: 20px;
}
.form-cta input{
    padding: 18px 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-cta button{
    background-color: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}
.form-cta button:after {
    content:'';
    display: inline-block;
    width: 8px;
    height: 19;
    background: url("../Img/seta.png");
}
.form-cta button:hover{
    background: #F40612;
}
main p{
    font-size: 19px;
    margin-top: 35px;
}
.gradiant {
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(to top,
    rgba(0,0,0,.8) 0,
    rgba(0,0,0,0) 40%,
    rgba(0,0,0,0) 75%,
    rgba(0,0,0,.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section{
    background:black;
    padding: 4rem 0;
    border-top:8px solid #222 ;
}
.section h1{
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 58px;
    }
    .section p{
        font-size: 26px;
        max-width: 450px;
    }
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img-tv{
    position: relative;
}
.img-tv img{
    top: -29px;
    left: 20px;
    max-width:450px;
    max-height:380px;
    position: relative;
    z-index:1;
}
.video-tv{
    max-width: 325px;
    max-height: 191px;
    position: absolute;
    top: 42px;
    left: 81px ;
}
.download .grid > div:first-child{
    order: 2;
}
.download .img-tv{
order: 1;
}
.device-pile  .video-tv{
  width: 290px;
  top: 0px;
  left: 100px;
}

.kids .grid > div:first-child{
    order: 2;
}
.kids .img-tv{
order: 1;
}
.footer .form-cta{
margin-top: 0;
}

.footer{
    padding: 4rem 0 2rem 0;
    border-top:  8px solid #222;
    background: black;
    text-align: center;
    display: grid;
    justify-items: center;
}
.footer p{
    margin-top: 20px;
    color: #757575;
    font-size: 13px;
}